

<div class="container">
        <div class="card">
          <img src="assets/mur.jpg">
          <div class="card__head">Mur</div>
        </div>
        <div class="card">
          <img src="assets/porte.jpg">
          <div class="card__head">Porte et fenetre</div>
        </div>
        <div class="card">
          <img src="assets/plafond.jpg">
          <div class="card__head">Plafond</div>
        </div>
        <div class="card">
          <img src="assets/volet.jpg">
          <div class="card__head">Volet</div>
        </div>

      </div>

      <app-footer></app-footer>