<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a [routerLink]="['/Admin']" type="button">
            <img alt="logo la Peintre " class="logolapeintre" src="assets/lapeintre.png">
        </a>
        </div>
        <div class="col-md-9">
            <nav>

                <ul>

                    <li>
                        <a [routerLink]="['/quisuisje']" routerLinkActive="active" href="#">Qui suis je </a>
                    </li>
                    <li>
                        <a [routerLink]="['/prestation']" routerLinkActive="active" href="#">Prestations</a>
                    </li>
                    <li>
                        <a [routerLink]="['/realisation']" routerLinkActive="active" href="#">Mes Réalisations</a>
                    </li>
                    <li>
                        <a [routerLink]="['/temoignage']" routerLinkActive="active" href="#">Témoignage</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact']" routerLinkActive="active" href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
