<div class='main-container'>
        <div class='grid-container'>
          <div class='card card--2x'>
            <div class='card__content big-script padding-large'>
              <p>Estelle Philippa ... La Peintre !!!</p>
            </div>
          </div>
          <div class='card'>
            <div class='card__image'>
              <img src='assets/estelle.jpg'>
            </div>
          </div>
          <div class='card'>
            <div class='card__image'>
              <img src='assets/paper.jpg'>
            </div>
          </div>
          <div class='card'>
            <div class='card__content'>
              <p><em>La peinture vient de l'endroit où les mots ne peuvent plus s'exprimer.</em></p>
              <p>— Gao Xingijan</p>
            </div>
          </div>
          <div class='card card--horizontal'>
            <div class='card__image'>
              <img src='assets/pinceau.jpg'>
            </div>
          </div>
          <div class='card card--featured'>
            <div class='card__side-by-side--m'>
              <div class='card__image'>
                <img src='assets/pint.jpg'>
              </div>
              <div class='card__content padding-large--l'>
                <h2>Quisque volutpat.</h2>
                <p>Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit.</p>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                <div class='card__button'>More...</div>
              </div>
            </div>
          </div>
          <div class='card card--vertical'>
            <div class='card__image'>
              <img src='assets/pin.jpg'>
            </div>
          </div>
          <div class='card'>
            <div class='card__image'>
              <img src='assets/rose.jpg'>
            </div>
          </div>
          <div class='card card--horizontal'>
            <div class='card__side-by-side'>
              <div class='card__image'>
                <img src='assets/printemps.jpg'>
              </div>
              <div class='card__content'>
                <h3>Lorem ipsum</h3>
                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra</p>
              </div>
            </div>
          </div>
          <div class='card card--vertical'>
            <div class='card__image'>
              <img src='assets/automne.jpg'>
            </div>
          </div>
          <div class='card'>
            <div class='card__image'>
              <img src='assets/hivers.jpg'>
            </div>
          </div>
          <div class='card'>
            <div class='card__content'>
              <p><em>Class aptent taciti sociosqu ad litora torquent per conubia nostra</em></p>
              <p>— blabla</p>
            </div>
          </div>
          <div class='card card--2x'>
            <div class='card__image'>
              <img src='assets/nuance.jpg'>
            </div>
          </div>
          <div class='card card--horizontal card--frameless'>
            <div class='card__content big-script'>
              <p>Contactez moi  pour plus de renseignement ...</p>
            </div>
          </div>
          <div class='card'>
            <div class='card__image'>
              <img src='assets/rouleau.jpg'>
            </div>
          </div>
          <div class='card card--horizontal'>
            <div class='card__image'>
              <img src='assets/po.jpg'>
            </div>
          </div>
          <div class='card'>
            <div class='card__image'>
              <img src='assets/pot.jpg'>
            </div>
          </div>
          <div class='card'>
            <div class='card__content'>
              <p><em>Class aptent taciti sociosqu ad litora torquent per conubia nostra</em></p>
              <p>— bliblobla</p>
            </div>
          </div>
          <div class='card'>
            <div class='card__image'>
              <img src='assets/camion.jpg'>
            </div>
          </div>
        </div>
      </div>
      
      




<app-footer></app-footer>